<div id="title-holder">
  <h1>Delete Book</h1>
</div>
<section>
  <form id="form-holder">
    <input type="text" name="name" id="usernameSearch" placeholder="Enter username...">
    <br/>
    <br/>
    <input type="button" value="Search" id="searchButton">
  </form>
</section>

<div id="content-holder">
  <div id="found">

  </div>
  <div id="notFound">
    
  </div>
</div>

<div id="buttonHolder">
  <input type="button" value="Delete" id="deleteButton"> <br/> <br/>
  <p>Type in a username and click search. If a user is found, the user will be displayed and if not an error message will be displayed. <br/> Enter a username and click delete to delete the user.</p>
</div>
